
.site-containerSolidar{
    margin:2rem auto;
    max-width: calc(100% - 80px);
    font-family:sans-serif;
    font-size: 100%;
    font-size: 15px;
    line-height: 1.5;
    -webkit-font-smoothing: atialiased;
    -moz-osx-font-smoothing: grayscale;
}

.article-containerSolidar{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(265px, 1fr));
    gap: 1rem;
}

.article-imageSolidar{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.article-imageSolidar img {
    max-width: 100%;
    height: 100%;
    border-radius:  20px 20px 0 0;
    
}

.article-cardSolidar{
    background: rgb(255, 255, 255);
    border-radius: 20px;
    transition: 0.3s;
    border-bottom: solid rgba(80, 102, 88, 0);

}

.article-cardSolidar:hover{
    box-shadow:  0 4px 20px 0 rgba(34, 68, 123, 0.2) ;
    cursor: pointer;
    transform: translateY(-2%);
    border-bottom: solid rgb(3, 168, 67);

}

.article-contentSolidar{
    padding: 2rem;
    
}

.article-contentSolidar .card-categorySolidar{
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #6b82a7af;
    margin-bottom: 0px; 
    margin-top: 1px;
    
}
.article-contentSolidar .card-categorySolidar2{
    font-size: 0.575rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: #6b82a7af;
    margin-bottom: 5px; 
    margin-top: 1px;

}

.article-contentSolidar .card-titleSolidar{
    margin: 1rem 0;
    color: #22447b;
    text-align: center;
}

.article-contentSolidar .card-excerpt{
    font-size:  1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;
    text-align: justify;
}
.article-contentSolidar a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: rgb(4, 167, 167);
    border: 1px solid rgb(4, 167, 167);
    border-radius: 4px;
    transition: all 400ms ease;
    margin: auto;
    width: 100%;
    text-align: center;
}

.article-contentSolidar a:hover{
    background: rgb(4, 167, 167);
    color: white;
}

.article-contentSolidar .hrSolidar{
    height: -100px;
    background: #6b82a71c;
    margin: 5px -2px;
    border: solid #6b82a700;
}

.article-contentSolidar .card-progressSolidar{
    width: 100%;
    margin-bottom: -10px;  
}

.h5-finalizado{
    position: relative;
    top: 10px;
    margin-bottom: 60px; 
    text-align: center;
    color: rgb(10, 233, 10);
}

.article-contentSolidar .card-objetivoActual{
    color: rgba(24, 24, 24, 0.555);
 
}
.article-contentSolidar .card-objetivoFinal{
    color: rgba(24, 24, 24, 0.555);
}

.article-contentSolidar .textos{
    margin-bottom: 60px;
}
.article-contentSolidar .textos .derecho{
    float:left;
}

.article-contentSolidar .textos .izquierdo{
    float:right;
}









@media screen and ( min-width: 280px ){
    .site-containerSolidar{
        max-width: 1000px;
    }
    .article-cardSolidar{
        display: grid;
        grid-template-rows: 400px 1fr ;
    }
}

@media screen and ( min-width: 480px ){
    .site-containerSolidar{
        max-width: 1000px;
    }
    .article-cardSolidar{
        display: grid;
        grid-template-rows: 400px 1fr ;
    }
}

@media screen and ( min-width: 768px ){
    .site-containerSolidar{
        max-width: 608px;
    }
    .article-cardSolidar{
        display: grid;
        grid-template-rows: 220px 1fr ;
    }
}

@media screen and ( min-width: 1280px ){
    .site-containerSolidar{
        max-width: 1000px;
    }
    .article-cardSolidar{
        display: grid;
        grid-template-rows: 220px 1fr ;
    }
}

